{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <h2 id="top-email">{{ request.user.email }}</h2>

    <div class="menu">
        <button class="btn btn-sm btn-outline-danger" id="inbox">Inbox</button>
        <button class="btn btn-sm btn-outline-danger" id="compose">Compose</button>
        <button class="btn btn-sm btn-outline-danger" id="sent">Sent</button>
        <button class="btn btn-sm btn-outline-danger" id="archived">Archived</button>
        <a class="btn btn-sm btn-outline-danger" href="{% url 'logout' %}">Log Out</a>
    </div>
    <hr>

    <div id="emails-view">
    </div>

    <div id="compose-view">
        <h3>New Email</h3>
        <form id="compose-form">
            <div class="form-group">
                <label>From:</label> <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                <label>To:</label> <input id="compose-recipients" class="form-control" placeholder="recipients">
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea class="form-control" id="compose-body" placeholder="Email Body"></textarea><br>
            <input type="submit" class="btn btn-secondary" value="Submit"/>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}

<!-- Already iniciate the styling, need to:
    *style the inbox, sent and archived (part of the body that appears the emails li)
    *start managing the logics and the specification on EDX Platform
-->